@media (max-width: 1490px) {
    .main__cards-up {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .main__cards-down {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .footer__content {
        justify-content: space-around;
    }

    
}

@media (max-width: 1275px) {
    .header__poster {
        justify-content: center;
    }

    .header__nav-content {
        justify-content: center;

    }

    .header__content-p1 {
        justify-content: space-around;
    }

    .header__content-p {
        text-align: center;
        padding-right: 15px;
    }

    

  
}


@media(max-width: 685px) {
    .header__nav-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    }

    @media(max-width: 535px) {
        .header__content-p1 {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            
        }
    }

    @media(max-width: 525px) {
        .header__poster{
            flex-wrap: wrap;
           
        }

        .header__nav-list {
            flex-wrap: wrap;
            justify-content: center;
        }

        .header__poster-list {
            flex-wrap: wrap;
            justify-content: center;
        }

        .header__nav-link {
            gap: 10px;
            font-size: 16px;
            
            
        }

        .main__nav-ul {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @media(max-width: 425px) {
        .header__content-h1 {
            font-size: 50px;
            text-align: center;
            line-height: 50px;
        }
        
        .header__content-h4 {
            font-size: 30px;
            text-align: center;
            
        }
    }